/* variables */
:root {
    --meeting-controlls-height: 150px;
    --add-participant-button: 200px;
    --minimum-height: 600px;
    --profile-picture-size: 150px;
}


/* Overall structure */
body {
    height: 100vh;
    width: 100vw;
}

/* Heder */
header {
    margin: 30px 10% 0 10%;
    width: 80%;
}

header h1 {
    font-size: 30pt;
    margin-bottom: 20px;
}

/* Main content */
main {
    width: 80%;
    height: 70%;
    margin: 0 10% 0 10%;
}

/* participants list */
